# Global Owner

* @mmgfrcs

# Lead is responsible for their respective files

*.ogg @Zenphyllius
*.png @RezaMaulana98

# And also folders, but this time with fallback

/Assets/Audio/* @Zenphyllius @mmgfrcs
/Assets/Sprites/* @RezaMaulana98 @mmgfrcs

/Assets/Audio/** @Zenphyllius @mmgfrcs
/Assets/Sprites/** @RezaMaulana98 @mmgfrcs

